*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Kanit', sans-serif;
}
body{
background: #F7F5FA;    
}
main{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 60px;
}
.wrapper{
    width: 1080px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;

}
header{
    width: 100%;
    height: 75px;
    background: #5F0BB8;
    border-radius: 45px;
}
.navbar{
    margin: 0 auto;
    width: 1080px;
    height: 75px;
    display: flex;
    flex-direction: row;
    gap: 235px;
    align-items: center;
    justify-content: center;
}
.primary_nav{
    width: 330px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.primary_nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.primary_nav ul li a{
    color: #F7F3FC;
    text-decoration: none;
    font-size: 15px;
    font-weight: 400;
}
.logo a{
    color: #F7F3FC;
    text-decoration: none;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.logo span{
    font-size: 18px;
    font-weight: 500;
}

.logo-gpt{
    width: 55px;
}
.sign_up{
    width: 115px;
    height: 45px;
    background: #F7F3FC;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 22.5px;
}
.sign_up a{
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    color: #5F0BB8;
    text-transform: uppercase;
}
.container_one{
    width: 1080px;
    display: flex;
    flex-direction: column;
    gap:60px;
}
.wrapper_container{
    width: 1080px;
    height: 655px;
    background: #5F0BB8;
    box-shadow: -1px 5px 11px 0px rgba(95, 11, 184, 0.29), -3px 21px 21px 0px rgba(95, 11, 184, 0.26), -6px 46px 28px 0px rgba(95, 11, 184, 0.15), -11px 82px 33px 0px rgba(95, 11, 184, 0.04), -17px 129px 36px 0px rgba(95, 11, 184, 0.01);    border-radius: 30px;
    display: flex;
}
.wrapper_container_01{
    width: 1080px;
    height: 120px;
    border-radius: 14px;
    background: #5F0BB8;
    display: flex;
    justify-content: center;
    align-items: center;
}
.left_col{
    width: 495px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

}

.right_col{
    width: 385px;
    height: 100%;
    position: relative;
}
.picture_one{
    position: absolute;
    z-index: 2;
    margin-top: 30px;
    width: 450px;
}
.ring-ill{
    width: 580px;
    position: absolute;
    top: 0px;
    left: -70px;
    z-index: 1;
}
.wrapper-hero-one{
    width: 380px;
    height: 340px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.hero-h1{
    margin: 0;
    font-family: 'Kanit', sans-serif;
    font-size: 58px;
    font-weight: 700;
    text-transform: uppercase;
    color: #F7F3FC;
    letter-spacing: 3px;
    line-height: 1;
}
.hero-p{
    font-family: 'Kanit', sans-serif;
    font-size: 16px;
    color: #F7F3FC;
    margin: 0;
}
.b-low-container{
    width: 100%;
    height: 55px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}
.b-low-container a{
    text-decoration: none;
    text-transform: uppercase;
    color: #F7F3FC;
}
.try_btn{
    width: 170px;
    height: 50px;
    border-radius: 30px;
    background: #F7F3FC;
    display: flex;
    justify-content: center;
    align-items: center;
}
.try_btn a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    color: #5F0BB8;
}
.learn-btn a{
    font-size: 16px;
    color: #F7F3FC;
}
.extended_ui{
    position: absolute;
    width: 148px;
    height: 112px;
    border-radius: 10px;
    border: 1.2px #9a39ff solid;
    background: #ffffff2b; 
    bottom: 30px;
    right: 318px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.arrow-icon{
    width: 30px;
    height: 30px;
}
.learn-btn{
 width: 150px;
 height: 100%;
 display: flex;
 flex-direction: row;
 gap: 10px;
 align-items: center;
}
.txt-wp{
    width: 118px;
    height: 80px;
}
.txt-wp h3{
    font-size: 18px;
    font-weight: 400;
    color: #F7F3FC;
    margin: 0;
}
.p-3{
    font-size: 14px;
    font-weight: 300;
    color: #F7F3FC;
    margin: 0;
}
.b-btn{
    width: 100px;
    height: 40px;
    border-radius: 30px;
    border: 1.2px #9a39ff solid;
    background: #ffffff2b;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #F7F3FC;
    transform: rotate(340deg);
    position: absolute;
    bottom: 105px;
    right: -70px;
}
.b-btn span{
    font-size: 16px;
    margin: 0;
    font-weight: 400;
    color: #F7F3FC;
    text-transform: uppercase;
    margin: 0;
}
.wrapper_container_01 ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 80px;
    margin: 0;
    padding: 0;
}
.wrapper_container_01 ul li{
    font-size: 34px;
    color: #F7F3FC;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1.2px;
}
.container_two{
    width: 1080px;
    display: flex;
    flex-direction: column;
    gap: 45px;
}

.upper_wrap{
    width: 100%;
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.up_h1{
    font-size: 50px;
    font-weight: 600;
    color: #0E0E0F;
    margin: 0;
}
.up_p{
    font-size: 18px;
    font-weight: 400;
    color: #0E0E0F;
    text-align: center;
    margin: 0;
}
.lower_wrap{
    width: 1080px;
    height: 700px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.l_wrap{
    width: 345px;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}
.ui_card{
    width: 345px;
    height: 306px;
    
    
}
.in_ui_upper{
    width: 100%;
    height: 228px;
    background: #FFF;
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.02), 7px 7px 10px 0px rgba(0, 0, 0, 0.02), 17px 17px 14px 0px rgba(0, 0, 0, 0.01), 29px 30px 17px 0px rgba(0, 0, 0, 0.00), 46px 47px 18px 0px rgba(0, 0, 0, 0.00);
    border-radius: 24px 24px 24px 0px;
    display: flex;
    justify-content: center;
    align-items: center;


}
.in_ui_upper-1{
    width: 100%;
    height: 228px;
    background: #FFF;
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.02), 7px 7px 10px 0px rgba(0, 0, 0, 0.02), 17px 17px 14px 0px rgba(0, 0, 0, 0.01), 29px 30px 17px 0px rgba(0, 0, 0, 0.00), 46px 47px 18px 0px rgba(0, 0, 0, 0.00);    
    border-radius: 0px 24px 24px 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.in_ui_upper-2{
    width: 100%;
    height: 228px;
    background: #FFF;
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.02), 7px 7px 10px 0px rgba(0, 0, 0, 0.02), 17px 17px 14px 0px rgba(0, 0, 0, 0.01), 29px 30px 17px 0px rgba(0, 0, 0, 0.00), 46px 47px 18px 0px rgba(0, 0, 0, 0.00);    
    border-radius: 24px 0px 24px 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.in_ui_upper-3{
    width: 100%;
    height: 228px;
    background: #FFF;
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.02), 7px 7px 10px 0px rgba(0, 0, 0, 0.02), 17px 17px 14px 0px rgba(0, 0, 0, 0.01), 29px 30px 17px 0px rgba(0, 0, 0, 0.00), 46px 47px 18px 0px rgba(0, 0, 0, 0.00);    
    border-radius: 24px 24px 0px 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.in_ui_lower{
    width: 100%;
    height: 78px;
    display: flex;
}
.ui_1{
    width: 267px;
    height: 78px;
    background: #FFF;
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.02), 7px 7px 10px 0px rgba(0, 0, 0, 0.02), 17px 17px 14px 0px rgba(0, 0, 0, 0.01), 29px 30px 17px 0px rgba(0, 0, 0, 0.00), 46px 47px 18px 0px rgba(0, 0, 0, 0.00);    
    border-radius:  0px 0px 24px 24px;
}
.ui_1-1{
    width: 267px;
    height: 78px;
    background: #FFFFFF;
    border-radius:  24px 24px 0px 0px;
}
.ui_1-2{
    width: 267px;
    height: 78px;
    background: #FFFFFF;
    border-radius:  0px 0px 24px 24px;
}
.ui_1-3{
    width: 267px;
    height: 78px;
    background: #FFF;
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.02), 7px 7px 10px 0px rgba(0, 0, 0, 0.02), 17px 17px 14px 0px rgba(0, 0, 0, 0.01), 29px 30px 17px 0px rgba(0, 0, 0, 0.00), 46px 47px 18px 0px rgba(0, 0, 0, 0.00);        
    border-radius:  0px 0px 24px 24px;
}

.ui_2{
    width: 78px;
    height: 78px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFFFFF;
    position: relative;
}
.inner_ui{
    width: 100%;
    height: 100%;
    background: linear-gradient(127deg, #edebf0,  #F7F5FA);
    border-radius: 38px 0px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.inner_ui-1{
    width: 100%;
    height: 100%;
    background: #F7F5FA;
    border-radius: 0px 0px 0px 38px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.inner_ui-2{
    width: 100%;
    height: 100%;
    background: #F7F5FA;
    border-radius: 0px 0px 38px 0px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.inner_ui-3{
    width: 100%;
    height: 100%;
    background: #F7F5FA;
    border-radius: 0px 38px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.ui-cir{
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: #FFF;
    filter: drop-shadow(1px 1px 4px rgba(0, 0, 0, 0.02)) drop-shadow(6px 6px 8px rgba(0, 0, 0, 0.02)) drop-shadow(13px 13px 11px rgba(0, 0, 0, 0.01)) drop-shadow(23px 23px 13px rgba(0, 0, 0, 0.00)) drop-shadow(36px 36px 14px rgba(0, 0, 0, 0.00));    position: absolute;
    bottom: 0px;
    right: 0px;
}
.ui-cir-1{
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: #FFF;
    filter: drop-shadow(1px 1px 4px rgba(0, 0, 0, 0.02)) drop-shadow(6px 6px 8px rgba(0, 0, 0, 0.02)) drop-shadow(13px 13px 11px rgba(0, 0, 0, 0.01)) drop-shadow(23px 23px 13px rgba(0, 0, 0, 0.00)) drop-shadow(36px 36px 14px rgba(0, 0, 0, 0.00));    position: absolute;    position: absolute;
    top: 0px;
    right: 0px;
}
.ui-cir-2{
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: #FFF;
    filter: drop-shadow(1px 1px 4px rgba(0, 0, 0, 0.02)) drop-shadow(6px 6px 8px rgba(0, 0, 0, 0.02)) drop-shadow(13px 13px 11px rgba(0, 0, 0, 0.01)) drop-shadow(23px 23px 13px rgba(0, 0, 0, 0.00)) drop-shadow(36px 36px 14px rgba(0, 0, 0, 0.00));    position: absolute;    position: absolute;    position: absolute;
    top: 0px;
    left: 0px;
}
.ui-cir-3{
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: #FFF;
    filter: drop-shadow(1px 1px 4px rgba(0, 0, 0, 0.02)) drop-shadow(6px 6px 8px rgba(0, 0, 0, 0.02)) drop-shadow(13px 13px 11px rgba(0, 0, 0, 0.01)) drop-shadow(23px 23px 13px rgba(0, 0, 0, 0.00)) drop-shadow(36px 36px 14px rgba(0, 0, 0, 0.00));    position: absolute;    position: absolute;    position: absolute;
    bottom: 0px;
    left: 0px;
}
.upright-icon{
    width: 30px;
}
.wrap_container{
    width: 1080px;
    height: 585px;
    background: #5F0BB8;
    box-shadow: -1px 5px 11px 0px rgba(95, 11, 184, 0.29), -3px 21px 21px 0px rgba(95, 11, 184, 0.26), -6px 46px 28px 0px rgba(95, 11, 184, 0.15), -11px 82px 33px 0px rgba(95, 11, 184, 0.04), -17px 129px 36px 0px rgba(95, 11, 184, 0.01);
    border-radius: 30px;
    display: flex;
}
.wrap-1{
    width: 492px;
    height: 585px;
    position: relative;
}
.wrap-2{
    width: 588px;
    height: 585px;
    display: flex;
    align-items: center;
}
.p_001{
    margin-top: 50px;
    width: 492px;

}
.wrap_txt-container{
    margin-left: 30px;
    width: 500px;
    height: 320px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.wrt_h1{
    font-size: 38px;
    font-weight: 500;
    color: #F7F5FA;
    margin: 0;
    line-height: 1.2;
}
.big_h2{
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 400;
    color: #F7F5FA;
    margin: 0;
}
.wrt_p{
    font-size: 16px;
    font-weight: 300;
    color: #F7F5FA;
    margin: 0;
}
.try_bbl{
    width: 108px;
    height: 45px;
    border-radius: 30px;
    border: 1.2px #9a39ff solid;
    background: #ffffff2b;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    transform: rotate(340deg);
    gap: 25px;
    position: absolute;
    top: 500px;
    left: 85px;
}
.try_bbl span {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 300;
    color: #F7F5FA;
    margin: 0;
}
.conv_bbl span{
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 300;
    color: #F7F5FA;
    margin: 0;
}
.green-cir{
    background: #02EA7E;
    width: 32px;
    height: 32px;
    border-radius: 50%;
}
.conv_bbl{
    width: 192px;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1.2px #9a39ff solid;
    background: #ffffff2b;
    border-radius: 30px;
    transform: rotate(8deg);
    position: absolute;
    bottom: 40px;
    left: 285px;
}

.left_wrap,
.right_wrap,
.center_wrap{
    position: relative;
}
.jslogo{
    width: 120px;
    position: relative;
    top: 30px;
    left: 5px;
}
.cslogo{
    width: 60px;
    position: absolute;
    bottom: 230px;
    left: 35px;
    
}
.collab-icon{
    width: 65px;
    position: absolute;
    bottom: 230px;
    right: 35px;
}
.ai-icon{
    width: 85px;
    position: relative;
    right: -150px;
    top: 22px;
}
.txt-ui-box{
    width: 290px;
    height: 140px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.txt-ui-box h1{
    font-size: 22px;
    font-weight: 600;
    color: #0E0E0F;
    margin: 0;
}

.txt-ui-box p{
    font-size: 15px;
    color: #3C3940;
    margin: 0;
    line-height: 1.5;
}
.container_four{
    width: 1080px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.up_txt_h1{
    width: 1080px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.up_txt_h1 h1{
    font-size: 38px;
    font-weight: 700;
    color: #0E0E0F;
    line-height: 1.2;
    text-align: center;
    margin: 0;
}
.faq_wrap{
    width: 1080px;
    height: 585px;
    display: flex;
}
.faq_container{
    width: 648px;
    height: 585px;
}
.ask_container{
    width: 432px;
    height: 585px;
}
.img_ill{
    width: 100%;
    height: 390px;
}
.ask_txt{
    width: 100%;
    height: 195px;
    
}
.img_illu{
    width: 450px;
}
.faq_wrapper_container{
    width: 620px;
    
}
.accordion{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.accordion_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.accordion_item{
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    padding: 15px;
    background: #fff;
    gap: 15px;
    border: .1px #d3d3d3 solid;
    
}

.accordion_header span{
    font-size: 18px;
    font-weight: 500;
    margin: 0;
}
.accordion_header i{
    font-size: 14px;
}
.accordion_content{
    overflow: hidden;
}
.descriptions{
    height: 0;
    font-size: 16px;
    color: #3C3940;
    font-weight: 300;
    transition: all 0.2s linear;
    margin: 0;
}