html{
    font-family: 'Kanit', sans-serif;
}
body{
    width: 1280px;
    height: 100vh;
    
}

.wrapper{
    width: 1080px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 20px;

}
header{
    width: 100%;
    height: 75px;
    background: #5F0BB8;
    border-radius: 45px;
}
.navbar{
    margin: 0 auto;
    width: 1080px;
    height: 75px;
    display: flex;
    flex-direction: row;
    gap: 248px;
    align-items: center;
    justify-content: center;
}
.primary_nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.primary_nav ul li a{
    color: #F7F3FC;
    text-decoration: none;
    font-size: 15px;
    font-weight: 400;
}
.logo a{
    color: #F7F3FC;
    text-decoration: none;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.logo span{
    font-size: 18px;
    font-weight: 500;
}

.logo-gpt{
    width: 60px;
}
.sign_up{
    width: 115px;
    height: 45px;
    background: #F7F3FC;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 22.5px;
}
.sign_up a{
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    color: #5F0BB8;
    text-transform: uppercase;
}
.container_one{
    width: 1080px;
    height: 650px;
    background: #5F0BB8;
    border-radius: 30px;
    display: flex;
}
.left_col{
    width: 495px;
    height: 100%;

}

.right_col{
    width: 385px;
    height: 100%;
}
